.details{
    display: flex;
    justify-content: space-evenly;
    padding-top:90px;
    .details-img-desc{
        .details-img{
          img{
            width: 600px;
            height: 600px;
            border: 1px solid black;
          }
        }
        .details-desc{
            // height: 230px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                width: 600px;
                font-size: 20px;
              font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;     
            }
        }
    }
    .details-content{
        h1{
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            font-size: 32px;
            font-family: 'Times New Roman', Times, serif;
            color: #404041;
        }
        p{
            width: 430px;
            font-size: 22px;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        .add-to-cart{
            height: 70px;
            button{
                width: 400px;
                height: 50px;
                background-color: #A57D6B;
                color: white;
                font-size: 20px;
                border: none;
            }
        }
        .buy-now{
            height: 90px;
            button{
            width:400px;
            height: 50px;
            background-color: #404041;
            color: white;
            font-size: 20px;
            border: none;
        }
    }
    }
}