h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 180px;
    color: #706C6C;
    letter-spacing: 0.4rem;
    font-weight: 400;
    line-height: 2;
    height: 300px;
    font-size: 30px!important;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    // position: relative;
    .boxes {
        margin-top: 120px;

        .box {
            width: 320px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .img {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img {
                    width: 280px;
                    height: 280px;
                }

                .quick-view {
                    width: 220px;
                    height: 40px;
                    background-color: rgb(255, 255, 255);
                    text-align: center;
                    opacity: 0;
                    transition: 1.3s;

                    p {
                        font-size: 20px;
                        font-family: Verdana, Geneva, Tahoma, sans-serif;
                    }
                }

                .quick-view:hover {
                    opacity: 0.8;
                }
            }

            // box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
            .box-details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .add-to-cart {
                    width: 305px;
                    height: 50px;
                    background-color: gray;
                    color: aliceblue;
                    border: none;
                    font-size: 20px;
                    margin-top: 10px;
                }

                .minus-plus {
                    display: flex;
                    border: 1px solid rgb(243, 238, 238);

                    input {
                        width: 245px;
                        height: 50px;
                        outline: none;
                        border: none;
                        text-align: center;
                        font-size: 20px;
                    }

                    .plus,
                    .minus {
                        border: none;
                        background-color: white;
                        font-size: 30px;
                        font-weight: 100;
                    }
                }

                .box-info {
                    text-align: center;

                    h4 {
                        font-family: 'Times New Roman', Times, serif;
                    }

                    p {
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        color: rgb(178, 170, 170);
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .details {
        // background-color: red;
        width: 930px;
        height: 500px;
        position: absolute;
        margin-top: 100px;
        background-color: rgb(255, 255, 255);
        box-shadow: rgb(220, 219, 219) 0 5px 15px;

        .detail-content {
            button {
                outline: none;
                border: none;
                background: none;
            }
        }

    }
}